infinite

https://stackoverflow.com/questions/17477979/dropping-infinite-values-from-dataframes-in-pandas

In [ ]:
df.columns.to_series()[np.isinf(df).any()]

df.index[np.isinf(df).any(1)]

import numpy as np

df.replace([np.inf, -np.inf], np.nan)

null

https://stackoverflow.com/questions/43424199/display-rows-with-one-or-more-nan-values-in-pandas-dataframe

In [ ]:
df.isnull().values.any()

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
df = df.interpolate( axis='columns')

In [ ]:
df.dropna()
df.shape