# from_dict

https://stackoverflow.com/questions/18837262/convert-python-dict-into-a-dataframe

In [3]:
import pandas as pd

data = {'row_1': [3, 2, 1, 0], 'row_2': ['a', 'b', 'c', 'd']}
df = pd.DataFrame.from_dict(data, orient='index', dtype = "category")

In [4]:
df

       0  1  2  3
row_1  3  2  1  0
row_2  a  b  c  d

In [5]:
df = pd.DataFrame.from_dict(data, dtype = "category")
df

  row_1 row_2
0     3     a
1     2     b
2     1     c
3     0     d

In [31]:
data = {'e1' : ['g3', 'g2', 'g1'], 'e2' : ['g2'], 'e3' : ['g3'], 'p1' : ['g1', 'g3']}
# sort values list 
new_data = {k: sorted(v) for k, v in data.items()}
# generate column names
maxv = max([len(v) for v in new_data.values()])
colnames = ['col'+str(i) for i in range(maxv)]

df = pd.DataFrame.from_dict(new_data, orient='index', columns=colnames)
df

   col0  col1  col2
e1   g1    g2    g3
e2   g2  None  None
e3   g3  None  None
p1   g1    g3  None

In [28]:
maxv = max([len(v) for v in new_data.values()])
colnames = ['col'+str(i) for i in range(maxv)]
print(colnames)

['col0', 'col1', 'col2']

# from dict for variable list

https://stackoverflow.com/questions/50751184/pandas-dataframe-from-dictionary-of-list-values

https://stackoverflow.com/questions/46064760/create-a-dataframe-from-a-dictionary?noredirect=1&lq=1

https://stackoverflow.com/questions/34997174/how-to-convert-list-of-model-objects-to-pandas-dataframe

use of stack

# multi index

https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [ ]:
d = { '2017-09-01' : ['A', 'B'] , '2017-09-02' : ['C', 'D', 'E'] }

df = pd.DataFrame(
    [(k, val) for k, vals in d.items() for val in vals], 
    columns=['date', 'message']
)

df.join

# use categorical datatype in pandas

# one hot encoding
https://stackoverflow.com/questions/37292872/how-can-i-one-hot-encode-in-python

# join on itself

# pivoting
https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#reshaping

# merge with other dataframe
https://stackoverflow.com/questions/53645882/pandas-merging-101